/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Oct 30, 2023, 6:32:26 PM
    Author     : Hoang Quoc Viet
*/

#content{
    margin-top: 200px;
}
.form_container{
    width: 30%;
    margin: 0 auto;
    border: 2px #fef6f6 solid;
    background-color: #f5f5f5;
    border-radius: 10px;
}
.form_container h3{
    font-size: 1.5rem;
    padding: 20px;
}
#form_register{
   padding: 20px; 
}
#form_register button{
   width: 100%;
   background-color: blue;
   border-radius: 5px;
   color: white;
}

#form_register span{
   color: red;
}
#form_register .forgot_div{
   display: flex;
   justify-content: end;
   margin-bottom: 15px;
}

#form_register .forgot_div a{
   color: #06C;
}

#form_register .forgot_div a:hover{
   color: #e54747;
}

